@import url('//fonts.googleapis.com/css?family=Roboto:500');

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.main-page{
  display: grid;
  column-gap: 100px;
}

.accordion {
  grid-column: 1;
  width: 300px;
  margin-left: 10px;
  margin-top: 100px;
  background-color: #f1f1f1;
}

.note-container{
  margin-left: 10px;
  margin-top: 100px;
  grid-column: 2;
}

.text {
  font-size: 24px;
  font-weight: 500;
  color: #087f5b;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.accordion-item {
  /*box-shadow: 0 0 12px rgba(0,0,0,0.1);*/
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  overflow-x: auto;
}

.hidden-box {
  grid-column: 1;
  display: block;
}

.hidden-box ul li {
  margin-left: 20px;
}

.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

#categories{
  color: blue;
}

#accordion-items{
  max-height: 80vh;
  overflow-y: auto;
}

.delete-button{
  float: right;
  margin-right: 0;
  font-size: x-large;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
