<nav class="navbar navbar-expand-lg navbar-light bg-gradient">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="page">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="addcategory">Add Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="addnote">Add Note</a>
      </li>
    </ul>
  </div>
  <div class="nav-item">
    <tr [routerLink]="['/user', userID]" >{{userName}} </tr>
  </div>
  <div class="nav-logout nav-item">
    <a class="nav-link" href="#" (click)="LogoutEvent()" >Log out</a>
  </div>
</nav>
