
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.full-notes{
  margin-left: 50px;
}
.header{
  font-size: x-large;
  font-weight: 700;
}

.table-div{
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

