
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.full-notes{
  margin-left: 50px;
}
.header{
  font-size: x-large;
  font-weight: 700;
}

#note-title-value{
  max-height: 40px !important;
  overflow-y: scroll;
  overflow-x: scroll;
}

#note-value{
  max-height: 40px;
  overflow: auto;
}

#note-title{
  max-height: 40px;
}

.table-div{
  max-height: 720px;
  overflow-y: auto;
}
