<div class="full-notes" *ngIf="Notes&&Notes.length>0">
  <input *ngIf="Notes&&Notes.length>0" type="search" id="form1" class="form-control" placeholder="Search Note" aria-label="Search" (keyup)="OnSearchTextChanged($event)" />
  <div class="row"  *ngIf="Notes&&Notes.length>0">
  <div class="column">
    <table>
      <tr>
        <th>Title</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let note of Notes | noteSearch:searchText" [routerLink]="['/note', note.id]" >
        <td>{{note.title}}</td>
        <td>{{note.noteValue}}</td>
      </tr>
    </table>
  </div>
</div>
</div>
