<div class="rating-stars">
<input type="button" value="Submit" class="pressbut" (click)="onClickButton()">
<div class="rate" >
  <input type="radio" id="star5" name="rate" value=5 (click)="getRatingVal(5)" />
  <label for="star5" title="text">5 stars</label>
  <input type="radio" id="star4" name="rate" value=4 (click)="getRatingVal(4)"/>
  <label for="star4" title="text">4 stars</label>
  <input type="radio" id="star3" name="rate" value=3 (click)="getRatingVal(3)"/>
  <label for="star3" title="text">3 stars</label>
  <input type="radio" id="star2" name="rate" value=2 (click)="getRatingVal(2)"/>
  <label for="star2" title="text">2 stars</label>
  <input type="radio" id="star1" name="rate" value=1 (click)="getRatingVal(1)"/>
  <label for="star1" title="text">1 star</label>
</div>
</div>
<div *ngIf="DBRating>0">
  Your Rating = {{DBRating}}/5
</div>
<div *ngIf="DBRatingAverage>0">
  Average Rating = {{DBRatingAverage}}/5
</div>

