<div class="row">
  <div class="col-md-4">
    <div class="left">
    <h1> Title</h1>
    <br>
    <input required [(ngModel)]="Title" [ngModelOptions]="{standalone: true}" type="text" name="Title" size="50"/> <br>
    <br>
    <h1> Category </h1>
    <br>
    <select [required] name="categories" id="categories" (change)="OnCategoryChange($event)">
      <option hidden disabled selected value="value"> -- select an option --</option>
      <option *ngFor="let category of Categories"
              [value]="category.id">
        {{category.name}}
      </option>
    </select>
    <br>
    <br>
      <label for="custom-file-input" class="col-md-12">
        <span class="face-button">
        <span class="face-primary">Add File</span>
        <span class="face-secondary">
          <span class="icon fa fa-picture-o"></span>
          <span class="icon fa fa-file-pdf-o"></span>
          <span class="icon fa fa-file-word-o"></span>
        </span>
        <input id="custom-file-input" type="file" value="Upload File" (change)="onUpload()" style="display: none;"/>
    </span>
      </label>
    <br>
    <br>
    </div>
  </div>
  <div class="col-md-8" style="background-color: aliceblue;">
    <h1>Note</h1>
    <br>
    <textarea class="col-md-6" [(ngModel)]="NoteValue" [ngModelOptions]="{standalone: true}" rows="24" ></textarea>
      <span class="face-button submit col-md-6 " (click)="SubmitForm()" style="float: right">
        <span class="face-primary">
          Submit
        </span>
        <span class="face-secondary">
          <span class="icon fa fa-paper-plane"></span>
        </span>
      </span>
  </div>
</div>
