.custom-file-input {

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Select file";
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

textarea{
  width: 100%;
  padding: 10px;
  resize: none;
  position: relative;
}

.button{
  padding: 20px;
}

@import url('//fonts.googleapis.com/css?family=Roboto:500');

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


body {
  padding: 64px 0;
  text-align: center;
}

.label-for-input{
  width: 500px;
}
.face-button {
  $height: 64px;
  $accentColor: #343a9c;
  width: 50%;

  height: $height;
  display: inline-block;
  border: 3px solid $accentColor;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: $accentColor;
  overflow: hidden;

  .icon {
    margin-right: 6px;
  }

  .face-primary,
  .face-secondary {
    display: block;
    padding: 0 32px;
    line-height: $height;
    transition: margin .4s;
  }

  .face-primary {
    background-color: $accentColor;
    color: #fff;
  }

  &:hover .face-primary {
    margin-top: -$height;
  }
}

.left{
  margin-left: 2rem;
  margin-top: 2rem;
}
