textarea{
  width: 100%;
  padding: 10px;
  resize: none;
  position: relative;
}
.face-button {
  $height: 64px;
  $accentColor: #343a9c;
  width: 25%;

  height: $height;
  display: inline-block;
  border: 3px solid $accentColor;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: $accentColor;
  overflow: hidden;

  .icon {
    margin-right: 6px;
  }

  .face-primary,
  .face-secondary {
    display: block;
    padding: 0 32px;
    line-height: $height;
    transition: margin .4s;
  }

  .face-primary {
    background-color: $accentColor;
    color: #fff;
  }

  &:hover .face-primary {
    margin-top: -$height;
  }
}
.left{
  margin-left: 2rem;
  margin-top: 2rem;
}

@import url('//fonts.googleapis.com/css?family=Roboto:500');

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
