<div class="row">
  <div class="col-sm-4 col-md-6 py-3">
    <div class="container" *ngIf="note">
      <h1 >{{ note.title }}</h1>
      <p >{{ note.noteValue }}</p>
      <p > Created At {{ date }}</p>
      <p > Created By {{ note.name }}</p>
      <app-add-rating [IDNote]="note.id"></app-add-rating>
    </div>
  </div>
  <div class="col-sm-4 col-md-6 py-3" *ngIf="note && note.fileValue && note.fileType?.includes('image')">
    <img [src]="note.fileValue" [alt]="note.fileType" height="100%" width="100%">
  </div>
  <div class="col-sm-4 col-md-6 py-3 pdf-show" *ngIf="note && note.fileValue && note.fileType?.includes('application')">
    <ngx-extended-pdf-viewer [base64Src]="this.note.fileValue" [useBrowserLocale]=true></ngx-extended-pdf-viewer>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-4 button">
  <button *ngIf="note.createdBy.toString()==currentUserID" (click)="inactivateNote()"> INACTIVATE BUTTON</button>

  </div>
</div>
